/* Normalization */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Scrolling */

:root {
    --header-height: ;
}

:target {
    scroll-margin-top: calc(var(--header-height) + 1.75rem);
}

html {
    scroll-behavior: smooth;
}

/* Global: General */

body {
    background-color: #111;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif, serif;
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0;
}

@media screen and (width < 1280px) {
    body {
        font-size: 1.5rem;
    }
}

@media screen and (width < 640px) {
    body {
        font-size: 1rem;
    }
}
   
a {
    color: #ccc;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

button, input, select {
    background-color: #333;
    border-color: #fff;
    border-radius: 1.875rem;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    cursor:pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 3.75rem;
    margin: 0.5rem 0;
    padding: 0 1.2rem 0.175rem;
}

@media screen and (width < 1280px) {
    button, input, select {
        border-radius: 1.625rem;
        height: 3.25rem;
        padding: 0 0.9rem 0.175rem;
    }
}

@media screen and (width < 640px) {
    button, input, select {
        border-radius: 1.375rem;
        height: 2.75rem;
        padding: 0 0.9rem 0.175rem;
    }
}

button:hover, input:hover, select:hover {
    background-color: #444;
}

button:active,input:active, select:active {
    background-color: #111;
}

hr {
    color: #ccc;
    margin: 0 12.5%;
}

/* Global: Overlay */

.buttonContainer .closeButton {
    display: inline-block;
    background-color: #333;
    border: none;
    border-radius: 50%;
    color: #bbb;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0;
    padding: 0;
    position: relative;
}

.buttonContainer .closeButton::before,
.buttonContainer .closeButton::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 0.25rem;
    width: 65%;
    background-color: #ccc;
}

.buttonContainer .closeButton::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.buttonContainer .closeButton::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


.buttonContainer .closeButton:hover::before,
.buttonContainer .closeButton:hover::after {
    background-color: #fff;
}

/* Header, Navigation & Scroll Progress Bar*/

header.stickToTop {
    position: fixed;
    top: 0;
    background-color: #111;
    width: 100%;
    z-index: 2;
}

header.stickToTop + * {
    margin-top: var(--header-height);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12.5%;
}

nav.dropdown {
    display: block;
    position: relative;
}

#navTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media screen and (width >= 1280px) {
    #navTitle {
        width: auto;
    }
}

#navTitle h1 {
    margin: 1.25rem 0;
}

#navTitle h1 a {
    color: #f7d089;
    text-decoration: none;
}

#navMenuButton {
    cursor: pointer;
    margin: 0.5rem 0 0;
}

@media screen and (width >= 1280px) {
    #navMenuButton {
        display: none;
    }
}

@media screen and (width < 640px) {
    #navMenuButton {
        margin: 0.2rem 0 0;
    }
}

#navMenuButton * {
    width: 2.5rem;
    height: 0.25rem;
    background-color: #ccc;
    margin: 0.6rem 0;
    transition: 0.5s;
}

@media screen and (width < 640px) {
    #navMenuButton * {
        width: 1.5rem;
        height: 0.15rem;
        margin: 0.4rem 0;
    }
}

#navMenuButton:hover *, #navMenuButton:focus * {
    background-color: #fff;
}

#navMenuButton:active * {
    background-color: #f7d089;
}

.dropdown #bar1 {
    transform: translate(0, 0.85rem) rotate(45deg);
}

@media screen and (width < 640px) {
    .dropdown #bar1 {
        transform: translate(0, 0.565rem) rotate(45deg);
    }
}

.dropdown #bar2 {
    opacity: 0;
}

.dropdown #bar3 {
    transform: translate(0, -0.85rem) rotate(-45deg);
}

@media screen and (width < 640px) {
    .dropdown #bar3 {
        transform: translate(0, -0.565rem) rotate(-45deg);
    }
}

#navMenu {
    display: flex;
    gap: 2rem;
}

@media screen and (width < 1280px) {
    nav:not(.dropdown) #navMenu {
        display: none;
    }
}

#navMenu a {
    font-weight: 500;
    text-decoration: none;
}

#navMenu a:hover, #navMenu a:active {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.5rem;
}

.dropdown #navMenu {
    display: flex;
    background-color: #111;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    width: 100%;
}

#scrollProgressIndicator {
    background-color: #333;
    height: 0.1rem;
    width: 100%;
}

#scrollProgressBar {
    background-color: #f7d089;
    height: 0.1rem;
    width: 0%;
}

/* Main: General */

h2 {
    color: #f7d089;
}

h3 {
    color: #ccc;
}

section:not(#mainBanner) {
    margin: 5rem 12.5%;
}

section:not(#mainBanner) h2 {
    text-align: center;
}

section:not(#mainBanner) .buttonContainer {
    text-align: center;
    margin: 1rem 0;
}

/* Main: Banner */


#mainBanner {
    width: 100%;
    height: 70vh;
    background:
        linear-gradient(.25turn, rgba(0,0,0,0.8), rgba(0,0,0,0.3)) center / 100% 100%,
        url("../images/沒有電影的電影節－劇照01.jpg") no-repeat center/ cover;
}

#mainBanner .container {
    height: 100%;
}

#mainBanner .displayText {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 12.5%;
}

#mainBanner h2, #mainBanner h3 {
    margin: 0.25rem 0;
}

#mainBanner .buttonContainer {
    display: flex;
    gap: 1rem;
}

#mainBanner .secondaryCTA {
    background-color: transparent;
}

#mainBanner .secondaryCTA:hover {
    background-color: rgba(255,255,255,0.1);
}

/* Main: About */

#curator .flexContainer {
    display: flex;
    align-items: stretch;
    gap: 2rem;
}

#curator .flexImage {
    background-image: url("../images/聞海－青海高原花土溝拍攝《原油》_c.jpg");
    background-position: 75% top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    flex-basis: 550px;
}

@media screen and (width < 1280px) {
    #curator .flexContainer {
        flex-direction: column-reverse;
    }
}

@media screen and (width < 640px) {
    #curator .flexImage {
        flex-basis: 300px;
    }
}

#curator #curatorInfoOverlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}

#curator #curatorInfoOverlay .headerSpace {
    height: var(--header-height);
}

#curator #curatorInfoOverlay .iframeContainer {
    height: calc(0.9 * (100% - var(--header-height)));
    width: 100%;
}

#curator #curatorInfoOverlay .buttonContainer {
    height: calc(0.1 * (100% - var(--header-height)));
}

/* Main: Films */

    /* Film Grid */
#filmGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media screen and (width < 1280px) {
    #filmGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width < 640px) {
    #filmGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

#filmGrid .gridItem {
    align-items: center;
    height: 20rem;
    position: relative;
}

@media screen and (width < 1280px) {
    #filmGrid .gridItem {
        height: 17.5rem;
    }
}

@media screen and (width < 640px) {
    #filmGrid .gridItem {
        height: 15rem;
    }
}

#filmGrid > :nth-child(1) {
    background: url(../images/凶年之畔－劇照01.jpg)
        no-repeat center / cover;
}

#filmGrid > :nth-child(2) {
    background: url(../images/尋找林昭的靈魂－劇照01.jpg)
        no-repeat center / cover;
}

#filmGrid > :nth-child(3) {
    background: url(../images/喧囂的塵土－劇照01.jpg)
        no-repeat center / cover;
}

#filmGrid > :nth-child(4) {
    background: url(../images/一個說不－劇照03.jpg)
        no-repeat center / cover;
    display: none;
}

@media screen and (width >= 640px) {
    #filmGrid > :nth-child(4) {
        display: block;
    }
}

#filmGrid > :nth-child(5) {
    background: url(../images/我們－劇照01.jpg)
        no-repeat center / cover;
    display: none;
}

#filmGrid > :nth-child(6) {
    background: url(../images/赫索格的日子－劇照01.jpg)
        no-repeat center /cover;
    display: none;
}

@media screen and (width >= 1280px) {
    #filmGrid > :nth-child(5) {
        display: block;
    }
    #filmGrid > :nth-child(6) {
        display: block;
    }    
}

#filmGrid > :nth-child(7) {
    background: url(../images/沒有電影的電影節－劇照01.jpg)
        no-repeat center /cover;
    display: none;
}

#filmGrid > :nth-child(8) {
    background: url(../images/表現主義－劇照01.jpg)
        no-repeat center /cover;
    display: none;
}

#filmGrid > :nth-child(9) {
    background: url(../images/喊叫與耳語－劇照01.png)
        no-repeat center /cover;
    display: none;
}

#filmGrid .gridItem .textContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5rem inset black;
    cursor: pointer;
}

#filmGrid .gridItem .textContainer h3 {
    display: none;
    text-align: center;
    width: 100%;
}

#filmGrid .gridItem:hover .textContainer {
    background-color: rgba(0,0,0,0.5);
}

@media screen and (width < 1280px) {
    #filmGrid .gridItem .textContainer {
        background-color: rgba(0,0,0,0.35);
    }
}

#filmGrid .gridItem:hover .textContainer h3 {
    display: block;
}

@media screen and (width < 1280px) {
    #filmGrid .gridItem .textContainer h3 {
        display: block;
    }
}

    /* Film Info Overlay */

#filmInfoOverlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}

#filmInfoOverlay .filmItem {
    display: none;
    height: 100%;
    margin: 0% 10%;
}


#filmInfoOverlay .filmItem .headerSpace {
    height: var(--header-height);
}


#filmInfoOverlay .filmItem .mediaContainer {
    height: calc(0.65 * (100% - var(--header-height)));
    width: 100%;
    position: relative;
}

#filmInfoOverlay .filmItem .mediaContainer iframe, img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#filmInfoOverlay .filmItem .mediaContainer a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.75);
    cursor: pointer;
    padding: 1rem;
}

#filmInfoOverlay .filmItem .mediaContainer .nextButton {
    right: 0;
}

#filmInfoOverlay .filmItem .textContainer {
    height: calc(0.25 * (100% - var(--header-height)));
    overflow: auto;
}

#filmInfoOverlay .filmItem .buttonContainer {
    height: calc(0.1 * (100% - var(--header-height)));
}

/* Main: Publication */

#pubGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media screen and (width < 1280px) {
    #pubGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width < 640px) {
    #pubGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

#pubGrid .gridItem {
    align-items: center;
    height: 30rem;
    position: relative;
}

@media screen and (width < 1280px) {
    #pubGrid .gridItem {
        height: 17.5rem;
    }
}

@media screen and (width < 640px) {
    #pubGrid .gridItem {
        height: 15rem;
    }
}

#pubGrid > :nth-child(1) {
    background: url(../images/出版－在地流放的影像.jpg)
        no-repeat center / cover;
}

#pubGrid > :nth-child(2) {
    background: url(../images/出版－存在的.jpg)
        no-repeat center / cover;
}

#pubGrid > :nth-child(3) {
    background: url(../images/出版－放逐的凝視.jpg)
        no-repeat center / cover;
}

#pubGrid .gridItem .textContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5rem inset black;
    cursor: pointer;
}

#pubGrid .gridItem .textContainer h3 {
    display: none;
    text-align: center;
    width: 100%;
}

#pubGrid .gridItem:hover .textContainer {
    background-color: rgba(0,0,0,0.5);
}

@media screen and (width < 1280px) {
    #pubGrid .gridItem .textContainer {
        background-color: rgba(0,0,0,0.35);
    }
}

#pubGrid .gridItem:hover .textContainer h3 {
    display: block;
}

@media screen and (width < 1280px) {
    #pubGrid .gridItem .textContainer h3 {
        display: block;
    }
}

/* Footer */

footer {
    margin: 5rem 0;
    text-align: center;
}